<p id="notice"><%= notice %></p>
<%= link_to 'New Blog post', new_blog_post_path, class:"waves-effect waves-light btn blue-grey white-text" %>

<h1>Listing Blog Posts</h1>

     <div class="row">
   <% @blog_posts.each do |blog_post| %>
     
       <div class="col s12 m6">
         <div class="card cyan accent-3">
           <div class="card-content white-text">
             
             <span class="card-title"><%= link_to blog_post.title, blog_post, class:"white-text" %>
             </span>
             <p><i> By <%=  @blog_post.author %></i>  </p>
             <p><%= blog_post.blog_entry[0..25] %>...
             <% if blog_post.blog_entry.length >25%>
             [<%=link_to "Read More", blog_post%>]
             <%end %>
             </p>
           </div>
                 <div class="card-action">
            
           <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
           <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
           </div>
           <% end %>
         </div>
       </div>
      <% end %>

    </div>
           
<br>

<%= link_to 'New Blog post', new_blog_post_path, class:"waves-effect waves-red btn blue-grey white-text" %>