<% @user.blog_posts.each do |blog_post| %>
  <div>
    <div>
      <div class="heading">
        <%= link_to blog_post.title, blog_post %>
      </div>
      <div class="body">
        <p>
          <span class="posted-at"><%= blog_post.created_at.strftime('%m/%d/%Y at %l:%M:%p') %></span>
        </p>
        <p>
          <%= blog_post.blog_entry[0..150] %>...[<%= link_to "READ MORE", blog_post %>]
        </p>
      </div>
      <div class="footer">
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn" %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn" %>
      </div>
    </div>
  </div>
<% end %>
​